.App {
  text-align: left;
}

.Welcome-sign-in {
  height: 720px;
  background-color: #F0F2F5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Logo-with-phrase {
  width: 500px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Logo{
  height: 106px;
}

.Phrase{
  padding-left: 20px;
  font-size: 28px;
}

.Sign-in-zone{
  width: 400px;
  background-color: red;
}

.Family-site {
  background-color: #FFFFFF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
